.content{
  display: flex;
  justify-content: space-between
}

.box-content{
  background-color: #125699;
  width: 90%;
  margin-left: 10px;
  border-radius: 8px;
  text-align: center;
  color: #c2c3c4;
}
